*{
  box-sizing: border-box;
  margin: 0;
}

header {
  height: 100px;
  background-image: url("../img/pattern.png");
  background-size: 390px;
  background-color: rgb(72, 137, 243);
  text-align:center start;
}

.booleaner-logo {
  height: 50%;
  
}